{% extends 'form.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}
    <span class="contact100-form-title">
				<h1 class="text-secondary">	Ajouter une demande</h1>
				</span>

    {{ include('demande/_form.html.twig') }}
    <hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{ path('demande_index') }}"> <button class="btn btn-info me-md-2">{{ button_label|default('Retour a la liste') }}</button></a>
        <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-info" >Accueil</button> </a>
    </div>


{% endblock %}
