{% extends 'base.html.twig' %}

{% block title %}Création classe{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle classe</h1>

    {{ include('classe/_form.html.twig') }}

    <a href="{{ path('classe_index') }}">Retour a la liste</a>
{% endblock %}
