{% extends 'base.html.twig' %}

{% block title %}Choix Niveau{% endblock %}

{% block body %}
    <h1>Choisir un niveau</h1>
    <div>
        <a href="/classe/niveau/1/new" class="btn btn-primary btn-block" role="button">Niveau 1</a>
        <a href="/classe/niveau/2/new" class="btn btn-primary btn-block" role="button">Niveau 2</a>
        <a href="/classe/niveau/3/new" class="btn btn-primary btn-block" role="button">Niveau 3</a>
        <a href="/classe/niveau/4/new" class="btn btn-primary btn-block" role="button">Niveau 4</a>
        <a href="/classe/niveau/5/new" class="btn btn-primary btn-block" role="button">Niveau 5</a>
        <a href="/classe/niveau/6/new" class="btn btn-primary btn-block" role="button">Niveau 6</a>
        <a href="/classe/niveau/7/new" class="btn btn-primary btn-block" role="button">Niveau 7</a>
        <a href="/classe/niveau/8/new" class="btn btn-primary btn-block" role="button">Niveau 8</a>
        <a href="/classe/niveau/9/new" class="btn btn-primary btn-block" role="button">Niveau 9</a>
        <a href="/classe/niveau/10/new" class="btn btn-primary btn-block" role="button">Niveau 10</a>

    </div>




{% endblock %}
