a:hover {
  color: #224abe;
  text-decoration: underline;
}

.bg-login-image, .bg-password-image, .bg-register-image {
  background-position: 50%;
  background-size: cover;
}

.bg-login-image, .bg-password-image, .bg-register-image {
  background-position: 50%;
  background-size: cover;
}

.flex-grow-1.bg-password-image {
}

