{% extends 'base.html.twig' %}

{% block title %}New Matiere{% endblock %}

{% block body %}
    <span class="contact100-form-title">
				<h1 class="text-secondary">	Ajouter une matiére</h1>
				</span>

    {{ include('matiere/_form.html.twig') }}


    <a href="{{ path('matiere_index') }}"> <button class="btn btn-secondary">{{ button_label|default('Retour a la liste') }}</button></a>
    <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-secondary" >Accueil</button> </a>

{% endblock %}
