{% extends 'base.html.twig' %}

{% block title %}Ajout {{ role }}{% endblock %}

{% block body %}
    <h1>Ajout d'un {{ role }}</h1>

    {{ include('personne/_form.html.twig') }}

    <a href="/list/{{ personne.role }}">Retour à la liste</a>
{% endblock %}
