{% extends 'compte.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
    <h1>Création d'un compte</h1>

    {{ include('personne/_form.html.twig') }}

    <a href="{{ path('compte') }}">Retour </a>
{% endblock %}