{% extends 'base.html.twig' %}
{% block title %}
Home
{% endblock %}
{% block body %}
<div class="card-deck">
    {% for news in news %}
        {% if (news.active) %}
    <div class="card">
        <img
                style="height: 350px"
                src={{ asset(news.image) }}
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <h5 class="card-title" ><b >{{ news.titre|upper }}</b></h5>

            <a href="{{ path('news_show', {'id': news.id}) }}" class="btn btn-primary">Détails</a>
        </div>
    </div>
        {% endif %}
    {% endfor %}



</div>
<br>
    {% if is_granted('ROLE_ADMIN') %}
    <p style="text-align: center"><a href="{{ path('news_index') }}" class="btn btn-primary">Gestion des Actualités</a></p>
    {% endif %}
{% endblock %}





