{% extends 'form.html.twig' %}

{% block title %} Nouvelle Salle {% endblock %}

{% block body %}

    <span class="contact100-form-title">
				<h1 class="text-secondary">	Créer une salle</h1>
				</span>
    {{ include('salle/_form.html.twig') }}

    <a href="{{ path('news_home') }}">  <button type="button" class="btn btn-secondary" >Accueil</button> </a>

{% endblock %}
