{% extends 'form.html.twig' %}

{% block title %}message{% endblock %}

{% block body %}
    <h1>contacter un enseignant</h1>

    {{ include('contacte/_form.html.twig') }}
<hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{ path('mes_message',{'id': app.user.personne.id})  }}" class="btn btn-info me-md-2" >{{ button_label|default('Retour a la liste') }}</a>
        <a href="{{ path('news_home') }}" class="btn btn-info" >Accueil</a>
    </div>
{% endblock %}
